<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="湖北蚂蚁云服">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="renderer" content="webkit">
    <title>申请成功</title>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <div class="status">
            <div class="status-banner">
                <img src="../img/shenhe2.png" alt="">
               <!-- <img src="../img/shenhe1.png" alt="" v-show="status == 2">
                <img src="../img/shenhe3.png" alt="" v-show="status == 3">-->
                <h3 class="tg">申请成功</h3>
               <!-- <h3 class="shz" v-show="status == 2 ">审核中</h3>
                <h3 class="fail" v-show="status == 3 ">审核失败</h3>-->
                <p>您提交的申请已审核通过</p>
                <p>不动产审批申请</p>
            </div>
            <div class="button-primary-normal" style="padding-bottom: 0;">
                <a :href="'https://xysb.anthb.cn:1502/bdcydysq-server/api/bdcydy/queryDzzzInfo?zzh='+zzh">下载电子证照</a>
            </div>
            <p style="font-size: .28rem;color:red;padding: .3rem;">*如出现无法下载，请复制链接到浏览器中打开</p>
            <!--<div class="status-msg">
                <ul>
                    <li class="flex-contain">
                        <span class="flex-box-1">权利人姓名</span>
                        <span class="flex-box-1">张三</span>
                    </li>
                    <li class="flex-contain">
                        <span class="flex-box-1">义务人姓名</span>
                        <span class="flex-box-1">XXXX开发商</span>
                    </li>
                    <li class="flex-contain">
                        <span class="flex-box-1">提交时间</span>
                        <span class="flex-box-1">2015.12.11</span>
                    </li>
                    <li class="flex-contain" v-if="status == 3">
                        <span class="flex-box-1">审核失败原因</span>
                        <span class="flex-box-1">2015.12.30</span>
                    </li>
                </ul>
            </div>-->
            <!--<div class="status-fail-reason" v-if="status == 3">
                您在提交数字证书审核时使用文件验证方式进行域名授权验证，可能会收到此审核失败返回结果。这种情况下的数字证书审核申请
            </div>-->
        </div>
    </div>
</div>
</body>
</html>